html,body,.container,.row,.login{
	height: 100%;
	background-color: #00a9f1;
}
.login{
	width: 80%;
	margin: 0px auto;
	min-width: 1024px;
}
.login .head{
	height: 110px;
	color: #fff;
	font-size: 2.5em;
	padding-top: 45px;
}
.login .head span{
	vertical-align: -webkit-baseline-middle;
}
.login .login_wrap{
	padding-top: 60px;
}
.login .left{
	height: 500px;
	width: 70%;
	background: url(../img/kit_poster.png) no-repeat;
	background-size: 100% 100%;
	float: left;
}
.login .right{
	width: 30%;
	padding: 25px 30px;
	float: left;
}
.login .right .loginbox{
	width: 290px;
	height: 345px;
	background-color: #fff;
	text-align: center;
	padding:20px 30px;
}
.login .right .loginbox .login_item{
    width: 100%;
    height: 34px;
    border:1px solid #ddd;
    position: relative;
    margin-bottom: 20px;
}
.login .right .loginbox .login_focus,
.login .right .loginbox .login_focus label{
    border-color: #00A9F1;
}
.login .right .loginbox label{
    position: absolute;
    left: 0px;
    display: inline-block;
    width: 34px;
    height: 32px;
    border-right: 1px solid #ddd;
    background: #fff url(../img/input_bg.png) no-repeat;
}
.login .right .loginbox .name_label{
    background-position:6px 5px;
}
.login .right .loginbox .pwd_label{
    background-position:6px -50px;
}
.login .right .loginbox .login_focus .name_label{
    background-position:-21px 5px;
}
.login .right .loginbox .login_focus .pwd_label{
    background-position:-21px -50px;
}
.login_item input{
    width: 100%;
    padding: 7px 0px 0px 50px;
    border: 0;
    outline: none;
}
.login .right .loginbox p.wel{
	font-size: 1.5em;
	color:#00a9f1;
	padding-top: 20px;
	padding-bottom: 10px;
}
.login .right .loginbox p a:first-child{
	float: left;
}
.login .right .loginbox p a:last-child{
	float: right;
	color: #080808;
}
.login .right .loginbox .btn-login{
	width: 100%;
	height: 30px;
	background-color: #00a9f1;
	color: #fff;
	letter-spacing: 10px;
}
.loginbox .errorMsg{
    height: 20px;
    text-align: left;
    color: red;
}
.fr{
	float: right;
}
/*底部版权信息*/
.login_foot{
	text-align: center;
	width: 100%;
	position: fixed;
	bottom: 0px;
	line-height: 20px;
	background-color: rgba(0,0,0,0.3);
}
.login_foot ul{
	display: inline-block;
	margin-bottom: 0px;
}
.login_foot ul>li{
	float: left;
	margin: 5px 15px 0px 15px;
}
.login_foot ul>li>a{
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}



















