#pagination()

<table class="table table-bordered table-striped table-hover" style="font-size:14px;">
    <tr>
        <th>商品名称</th>
		<th>产品条形码</th>
        <th>产品批次号</th>
        <th>生成数量</th>
		<th>标识码类型</th>
        <th>生成时间</th>
        <th>查看标识码</th>
    </tr>
    #foreach($code in $codes)
        <tr>
            <td>$!{code.skuName}</td>
			<td>$!{code.skuBarcode}</td>
            <td>$!{code.skuBatch}</td>
            <td>$!{code.codeQuantity}</td>
			<td>$!cache.getCachedName("CODE_TYPE","$!{code.codeType}","")</td>
            <td>$date.format("yyyy-MM-dd",$!{code.createTime})</td>
            <td>
                <a href="javascript:void(0)" data-toggle="modal" onclick="editInfo('${rc.ContextPath}/code/selectdetail.do?buildId=${code.buildId}')">查看</a>&nbsp;
				<a href="${rc.ContextPath}/code/download.do?buildId=${code.buildId}&codeType=${code.codeType}">下载</a>
            </td>
        </tr>
    #end
</table>
<div class="pageBar clearfix">
	 <ul class="pagination">
		#if(${pageinfo.pageNumber}>1)
			<li class="previous"><a href="javascript:void(0)" onclick="goPage(-1)">上一页</a></li>
		#end
		#if(${pageinfo.pageSize}>${pageinfo.pageNumber})
			<li class="next"><a href="javascript:void(0)" onclick="goPage(1)">下一页</a></li>
		#end
     </ul>
</div>