<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SKU展示页</title>

    #parse("sys_param.vm")

    <link rel="stylesheet" href="$!{CONTEXT_PATH}/js/bootstrap/3.0.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="$!{CONTEXT_PATH}/css/app-v1.css"/>
    <link rel="stylesheet" type="text/css" href="$!{CONTEXT_PATH}/css/font.css"/>
    <link rel="stylesheet" type="text/css" href="$!{CONTEXT_PATH}/css/global.css"/>
    <!--
    作者：wulz
    时间：2015-08-18
    描述：字体文件
    -->
    <link rel="stylesheet" href="$!{CONTEXT_PATH}/fonts/fontawesome-webfont.woff" type="text/css">
    <link rel="stylesheet" href="$!{CONTEXT_PATH}/fonts/fontawesome-webfont.svg" type="text/css">
    <link rel="stylesheet" href="$!{CONTEXT_PATH}/fonts/fontawesome-webfont.ttf" type="text/css">
	<script type="text/javascript" src="$!{CONTEXT_PATH}/js/bootstrap/3.0.1/js/jquery-1.11.1.js"></script>
	<link rel="stylesheet" type="text/css" href="$!{CONTEXT_PATH}/js/fancybox/source/jquery.fancybox.css" media="screen">
    <link rel="stylesheet" type="text/css" href="$!{CONTEXT_PATH}/js/fancybox/source/helpers/jquery.fancybox-thumbs.css" media="screen">
    <link rel="stylesheet" type="text/css" href="$!{CONTEXT_PATH}/js/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" media="screen">
    <script type="text/javascript" src="$!{CONTEXT_PATH}/js/fancybox/source/jquery.fancybox.js"></script>
	<script type="text/javascript" src="$!{CONTEXT_PATH}/js/fancybox/source/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="$!{CONTEXT_PATH}/js/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>
	<script type="text/javascript" src="$!{CONTEXT_PATH}/js/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="$!{CONTEXT_PATH}/js/fancybox/source/jquery.mousewheel-3.0.4.pack.js"></script>
	<script type="text/javascript" src="$!{CONTEXT_PATH}/js/fancybox/source/helpers/jquery.fancybox-media.js"></script>
	##<link href="$!{CONTEXT_PATH}/js/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
    ##<script type="text/javascript" src="$!{CONTEXT_PATH}/js/uploadify/jquery.uploadify.js"></script>
	##<script type="text/javascript" src="$!{CONTEXT_PATH}/js/uploadify/jquery.uploadify.min.js"></script>
</head>
<body>
<section class="container">
    <header class="C">
        <h1>SKU展示页</h1>
    </header>
    <div class="tablebox m-t-lg">
		条形码：<input type="text" name="sku.skuBarcode" id="skuBarcode" value="$!{sku.skuBarcode}"/>&nbsp;&nbsp;&nbsp;
		商品名：<input type="text" name="sku.skuName" id="skuName" value="$!{sku.skuName}"/>
		创建人：<input type="text" name="sku.createEmpCode" id="createEmpCode" value="$!{sku.createEmpCode}"/>
		<input type="hidden" id="admin" value="$!{admin}"/>
		状态：<select name="sku.status" id="status">
				    <option value="">
    						全部
                    </option>
    				<option value="0"  #if($!{sku.status}==0 || $!{sku.status}=='0') selected #end >
    						待审核
                    </option>
    				<option value="1"  #if($!{sku.status}==1 || $!{sku.status}=='1') selected #end >
    						审核通过
                    </option>
                </select>
		<input type="button" onclick="querySku()" value="查询" />	
    		
		<br />
		<br />
        <table class="table table-hover table-striped  table-bordered">
            <thead>
            <th>&nbsp;</th>
            <th>商品条形码</th>
            <th>商品名称</th>
            <th>保质期</th>
            <th>状态</th>
            <th>商品品牌</th>
			<th>创建人</th>
			##<th>创建时间</th>
            <th>更新人</th>
			##<th>更新时间</th>
            </thead>
            <tbody>
                #foreach($skuItem in $rows)
                <tr ondblclick="showDetail('$!{skuItem.skuBarcode}')">
					<td style="width:50px;height:50px;">
						#if($!{skuItem.ico})
							<a class="fancybox" href="$!{skuItem.ico}" rel="group$velocityCount" title="pic"> 
								<img src="$!{skuItem.ico}" style="width:95%;height:95%;"/>
        					</a>
							
						#else
							&nbsp;
						#end	
						
					</td>
                    <td>$!{skuItem.skuBarcode}</td>
                    <td>$!{skuItem.skuName}</td>
                    <td>$!{skuItem.safeDeadline}$!{skuItem.safeDeadlineUnit}</td>
                    <td>$!{skuItem.status}</td>
                    <td>$!{skuItem.skuBrand}</td>
					<td>$!{skuItem.createEmpCode}</td>
					##<td>$!date.format('yyyy-MM-dd HH:mm:ss','$!{skuItem.createTime}')</td>
                    <td>$!{skuItem.updateEmpCode}</td>
                    ##<td>$!date.format('yyyy-MM-dd HH:mm:ss','$!{skuItem.updateTime}')</td>
                </tr>
                #end
            </tbody>
        </table>
    </div>
    <ul class="pager">
        <li class="previous"><a href="javascript:void(0);">&larr; 上一页</a></li>
        <li><a style="border: 0;">$!{pageInfo.pageNumber}/$!{pageInfo.pageSize}
            &nbsp;&nbsp;&nbsp;共$!{pageInfo.totalCount}条</a></li>
        <li class="next"><a href="javascript:void(0);">下一页 &rarr;</a></li>
    </ul>
	
	<div id="sku_detail" class="jumbotron" style="display:none;width:100%;height:1000px">
    </div>
</section>

</body>
<script type="text/javascript" src="$!{CONTEXT_PATH}/js/bootstrap/3.0.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
		var skuBarcode= $.trim($("#skuBarcode").val());
    	var skuName = $.trim($("#skuName").val());
    	var createName = $.trim($("#createEmpCode").val());
		var status = $.trim($("#status").val());
		var admin = $.trim($("#admin").val());
        $('.previous a').click(function() {
            var pageNum = '$!{pageInfo.pageNumber}';
            if(pageNum == 1) {
                pageNum = 1;
            } else {
                pageNum = pageNum - 1;
            }
			if(admin == '' || admin == undefined || admin == null){
				location.href = base + '/sku/list?pageStart=' + pageNum +'&skuBarcode=' + skuBarcode + '&skuName=' + skuName + '&createEmpCode=' + createName + '&status=' + status;
			}else{
				location.href = base + '/sku/list?pageStart=' + pageNum +'&skuBarcode=' + skuBarcode + '&skuName=' + skuName + '&createEmpCode=' + createName + '&status=' + status + '&admin=' + admin;
			}
            
        });

        $('.next a').click(function() {
            var pageNum = '$!{pageInfo.pageNumber}', pageSize = '$!{pageInfo.pageSize}';
            if(pageNum == pageSize) {
                pageNum = pageSize;
            } else {
                pageNum = parseInt(pageNum) + 1;
            }
			if(admin == '' || admin == undefined || admin == null){
				location.href = base + '/sku/list?pageStart=' + pageNum +'&skuBarcode=' + skuBarcode + '&skuName=' + skuName + '&createEmpCode=' + createName + '&status=' + status;
			}else{
				location.href = base + '/sku/list?pageStart=' + pageNum +'&skuBarcode=' + skuBarcode + '&skuName=' + skuName + '&createEmpCode=' + createName + '&status=' + status + '&admin=' + admin;
			}
        });
		
		$(".fancybox").fancybox();
    });
</script>
<script type="text/javascript" src="$!{CONTEXT_PATH}/js/jc/sku.js"></script>
</html>
