<script src="${RESOURCE_PATH}/js/bootstrap/js/bootstrap.min.js"></script>
<script src="${RESOURCE_PATH}/js/ie10-viewport-bug-workaround.js"></script>
<script src="${RESOURCE_PATH}/js/common.js"></script>
<script src="${RESOURCE_PATH}/js/self.js"></script>