#set($layout = "layout.vm")
#parse("sys_param.vm")
#parse("addon/My97DatePicker.vm")

<div class="container content">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-nav">
                <a href="$!{CONTEXT_PATH}/employee#employee-list">员工列表</a>
                &gt;
                <a href="javascript:void(0)" class="last">更换健康证</a>
                <button class="reback" onclick="goBack()"><i class="iconfont icon-left"></i>返回</button>
            </div>
            <!--info table-->
            <table class="table table-bordered detailInfo m-t-sm">
                <tr class="caption">
                    <th colspan="6">从业人员基本信息</th>
                </tr>
                <tr>
                    <td>姓名</td>
                    <td>$!{employee.fullName}</td>
                    <td>性别</td>
                    <td>$!{employee.sex}</td>
                    <td>所属企业</td>
                    <td>$!{employee.enterpriseId}</td>
                </tr>
                <tr>
                    <td>现任职企业类型</td>
                    <td>获证餐饮企业</td>
                    <td>所属组织</td>
                    <td>秦都区食药监局</td>
                    <td>所属药监所</td>
                    <td>秦都区食药监局</td>
                </tr>
                <tr>
                    <td>证件类型</td>
                    <td>$!{employee.idType}</td>
                    <td>证件号码</td>
                    <td>$!{employee.idCode}</td>
                    <td>出生日期</td>
                    <td>$!{date.format('yyyy-MM-dd', $!{employee.birthday})}</td>
                </tr>
                <tr class="caption">
                    <th colspan="6">健康证换证历史</th>
                </tr>
                <tr>
                    <td colspan="6" class="healthList">

                    </td>
                </tr>
            </table>
            <form id="changeForm">
                <input type="hidden" name="employeeId" value="$!{employee.employeeId}">
                <input type="hidden" name="healthPath" value="R2015121616411963904">

                <table class="table table-bordered detailInfo m-t-sm">
                    <tr class="caption">
                        <th colspan="6">健康证换证</th>
                    </tr>
                    <tr>
                        <td>健康证编号</td>
                        <td><input class="form-control" type="text" name="healthCode" /></td>
                        <td>工种</td>
                        <td><input class="form-control" type="text" name="jobs" /></td>
                        <td>体检结果</td>
                        <td>
                            <input type="radio" name="healthResult" />合格
                            <input type="radio" name="healthResult" />不合格
                        </td>
                    </tr>
                    <tr>
                        <td>发证日期</td>
                        <td>
                            <div class="inputbox form-control">
                                <input type="text" name="issueDate" id="issueDate" onclick="WdatePicker({el:'issueDate', dateFmt:'yyyy-MM-dd'})" readonly style="cursor: pointer" />
                                <i class="iconfont icon-date"></i>
                            </div>
                        </td>
                        <td>有效期至</td>
                        <td>
                            <div class="inputbox form-control">
                                <input type="text" name="validDate" id="validDate" onclick="WdatePicker({el:'validDate', dateFmt:'yyyy-MM-dd'})" readonly style="cursor: pointer" />
                                <i class="iconfont icon-date"></i>
                            </div>
                        </td>
                        <td>体检检查单位</td>
                        <td><input class="form-control" type="text" name="checkUnit" /></td>
                    </tr>
                </table>
            </form>
            <table class="table table-bordered detailInfo m-t-sm">
                <tr class="caption">
                    <th colspan="6">请上传健康证照片</th>
                </tr>
                <tr>
                    <td style="width: 160px;">健康证照片<span class="star">*</span></td>
                    <td colspan="5">
                        <div class="uploadPhoto">
                            <input type="file" />
                        </div>
                    </td>
                </tr>
            </table>

            <div class="btn-bottom">
                <button class="btn btn-success btn-change"><i class="iconfont icon-shuaxin"></i>更换</button>
                <button class="btn btn-default" onclick="goBack()"><i class="iconfont icon-cuowu"></i>取消</button>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="check" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">查看健康证更换历史</h4>
                </div>
                <div class="modal-body card_detail">
                    <table class="table table-bordered detailInfo">
                        <tr>
                            <td>姓名</td>
                            <td>吴军</td>
                            <td>性别</td>
                            <td>男</td>
                            <td>现任职企业类型</td>
                            <td>获证餐饮企业</td>
                        </tr>
                        <tr>
                            <td>所属组织</td>
                            <td>秦都区食药监局</td>
                            <td>所属药监所</td>
                            <td>秦都区食药监局</td>
                            <td>所属企业</td>
                            <td>天源海鲜狮子楼</td>
                        </tr>
                        <tr>
                            <td>证件号码</td>
                            <td>430726198009183219</td>
                            <td>证件类型</td>
                            <td>中华人民共和国居民身份证</td>
                            <td>出生日期</td>
                            <td>1980-09-18</td>
                        </tr>
                        <tr>
                            <td>健康证编号</td>
                            <td>咸(2015)QD02-000479</td>
                            <td>工种</td>
                            <td></td>
                            <td>体检结果</td>
                            <td>合格</td>
                        </tr>
                        <tr>
                            <td>发证日期</td>
                            <td>2015-01-11</td>
                            <td>有效期至</td>
                            <td>2020-01-11</td>
                            <td>健康检查单位</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>健康证照片</td>
                            <td colspan="5">
                                <img src="../img/card.jpg" alt="健康证" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="iconfont icon-cuowu"></i>关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
<script type="text/javascript">
    $(function() {
        var url = base + '/employee/healthList?employeeId=$!{employee.employeeId}';
        $('.healthList').load(url, '', function() {

        });

        $('.icon-date').click(function() {
            $(this).prev('input').click();
        });

        $('.icon-date').each(function() {
//            var input = $(this).prev('input');
//            input.css('width', input.parent().width());

            $(this).css('cursor', 'pointer');
        });

        // 保存
        $('.btn-change').click(function() {
            showMask();

            var url = base + '/employee/change';
            var data = $('#changeForm').serialize();
            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                data: data,
                error : function (XMLHttpRequest, textStatus, errorThrown) {
                    hideMask();
                },
                success : function (data, textStatus) {
                    if(data.flag) {
                        load('$!{CONTEXT_PATH}/employee/change?employeeId=$!{employee.employeeId}')
                    } else {
                        alert(data.msg);
                    }
                }
            });
        });
    });

    function goBack() {
        load('$!{CONTEXT_PATH}/employee');
    }
</script>