#parse("sys_param.vm")
#parse("addon/My97DatePicker.vm")

<div class="container content">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-nav">
                <a href="$!{CONTEXT_PATH}/employee#employee-list">员工列表</a>
                &gt;
                <a href="javascript:void(0)" class="last">编辑员工详情</a>
                <button class="reback" onclick="goBack()"><i class="iconfont icon-left"></i>返回</button>
            </div>
            <!--table-->
            <div class="btn-list">
                <button class="btn btn-success" onclick="javascript:void(0);" disabled="disabled"><i class="iconfont icon-bianji"></i>编辑</button>
            </div>
            <form id="editForm">
                <input type="hidden" name="employeeId" value="$!{employee.employeeId}" />
                <!--info table-->
                <table class="table table-bordered detailInfo">
                    <tr class="caption">
                        <th colspan="7">从业人员基本信息</th>
                    </tr>
                    <tr>
                        <td>姓名<span class="star">*</span></td>
                        <td><input class="form-control" type="text" name="fullName" value="$!{employee.fullName}" /></td>
                        <td>性别</td>
                        <td>
                            <input type="radio" name="sex" value="1" />男
                            <input type="radio" name="sex" value="2" />女
                        </td>
                        <td>所属企业<span class="star">*</span></td>
                        <td><input class="form-control" type="text" value="$!{employee.enterpriseId}" disabled /></td>
                        <td rowspan="4" class="photo"><img src="../img/tb.png" alt="tuxiang" /></td>
                    </tr>
                    <tr>
                        <td>证件类型</td>
                        <td>
                            <select class="form-control" name="idType">
                                <option value="">请选择</option>
                                <option value="1">中华人民共和国居民身份证</option>
                                <option value="2">护照</option>
                            </select>
                        </td>
                        <td>证件号码<span class="star">*</span></td>
                        <td><input class="form-control" type="text" name="idCode" value="$!{employee.idCode}" /></td>
                        <td>出生日期</td>
                        <td>
                            <div class="inputbox form-control">
                                <input type="text" name="birthday" id="birthday" onclick="WdatePicker({el:'birthday', dateFmt:'yyyy-MM-dd'})" readonly style="cursor: pointer" value="$!{date.format("yyyy-MM-dd", $!{employee.birthday})}" />
                                <i class="iconfont icon-date"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>名族</td>
                        <td>
                            <select class="form-control" name="nation">
                                <option value="">请选择</option>
                                <option value="1">汉族</option>
                                <option value="2">苗族</option>
                            </select>
                        </td>
                        <td>国籍</td>
                        <td>
                            <select class="form-control" name="citizenship">
                                <option value="">请选择</option>
                                <option value="1">中国</option>
                            </select>
                        </td>
                        <td>政治面貌</td>
                        <td>
                            <select class="form-control" name="politicalLandscape">
                                <option value="">请选择</option>
                                <option value="1">党员</option>
                                <option value="2">群众</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>学历</td>
                        <td>
                            <select class="form-control" name="education">
                                <option value="">请选择</option>
                                <option value="1">初中</option>
                                <option value="2">高中</option>
                                <option value="3">专科</option>
                                <option value="4">本科</option>
                                <option value="5">硕士</option>
                                <option value="6">博士</option>
                                <option value="7">其他</option>
                            </select>
                        </td>
                        <td>专业</td>
                        <td>
                            <select class="form-control" name="specialty">
                                <option value="">请选择</option>
                                <option value="1">计算机</option>
                                <option value="2">英语</option>
                                <option value="3">生物学</option>
                                <option value="4">环境学</option>
                            </select>
                        </td>
                        <td>毕业时间</td>
                        <td>
                            <div class="inputbox form-control">
                                <input type="text" name="graduationTime" id="graduationTime" onclick="WdatePicker({el:'graduationTime', dateFmt:'yyyy-MM-dd'})" readonly style="cursor: pointer" value="$!{date.format("yyyy-MM-dd", $!{employee.graduationTime})}" />
                                <i class="iconfont icon-date"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>职务</td>
                        <td>
                            <select class="form-control" name="post">
                                <option value="1">厨师</option>
                                <option value="2">前台收银</option>
                            </select>
                        </td>
                        <td>职称</td>
                        <td>
                            <select class="form-control" name="jobTitle">
                                <option value="1">经理</option>
                                <option value="2">主管</option>
                            </select>
                        </td>
                        <td>首次参加工作时间</td>
                        <td colspan="2">
                            <div class="inputbox form-control">
                                <input type="text" name="firsttimeWork" id="firsttimeWork" onclick="WdatePicker({el:'firsttimeWork', dateFmt:'yyyy-MM-dd'})" readonly style="cursor: pointer" value="$!{date.format("yyyy-MM-dd", $!{employee.firsttimeWork})}" />
                                <i class="iconfont icon-date"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>工作年限</td>
                        <td>
                            <select class="form-control" name="workExperience">
                                <option value="1">3年及以上</option>
                                <option value="2">2年</option>
                            </select>
                        </td>
                        <td>个人电话</td>
                        <td><input class="form-control" type="text" name="personalPhone" value="$!{employee.personalPhone}" /></td>
                        <td>个人联系地址</td>
                        <td colspan="2">
                            <input class="form-control" type="text" name="personalAddredd" value="$!{employee.personalAddredd}" />
                        </td>
                    </tr>
                    <tr>
                        <td>个人违法、违纪情况登记</td>
                        <td colspan="3"><textarea class="form-control"></textarea></td>
                        <td>是否需要办理健康证</td>
                        <td colspan="2">
                            <input type="radio" name="isneedHealth" value="1" />是
                            <input type="radio" name="isneedHealth" value="0" />否
                        </td>
                    </tr>
                    <tr>
                        <td>备注</td>
                        <td colspan="3"><textarea class="form-control" name=""></textarea></td>
                        <td>户籍登记处</td>
                        <td colspan="2">
                            <input class="form-control" type="text" name="householdRegister" value="$!{employee.householdRegister}" />
                        </td>
                    </tr>
                    <tr class="caption">
                        <th colspan="7">健康证查看</th>
                    </tr>
                    <tr>
                        <td>健康证编号</td>
                        <td>$!{health.healthCode}</td>
                        <td>工种</td>
                        <td>
                            $!{health.jobs}
                        </td>
                        <td>体检结果</td>
                        <td colspan="2">
                            $!{health.healthResult}
                        </td>
                    </tr>
                    <tr>
                        <td>发证日期</td>
                        <td>
                            $!{date.format('yyyy-MM-dd', $!{health.issueDate})}
                        </td>
                        <td>有效期至</td>
                        <td>
                            $!{date.format('yyyy-MM-dd', $!{health.validDate})}
                        </td>
                        <td>健康检查单位</td>
                        <td colspan="2">
                            $!{health.checkUnit}
                        </td>
                    </tr>
                    <tr>
                        <td>健康证照片</td>
                        <td colspan="6" class="cardList">
                            <a href="#pic" data-toggle="modal"><img src="$!{health.healthPath}" title="点击查看大图" alt="" style="width: 150px; height: 100px;" /></a>
                        </td>
                    </tr>
                </table>
            </form>
            <div class="btn-bottom">
                <button class="btn btn-success btn-baocun"><i class="iconfont icon-baocun"></i>保存</button>
                <button class="btn btn-default btn-quxiao"><i class="iconfont icon-cuowu"></i>取消</button>
            </div>
        </div>
    </div>
</div>

<!--相册功能-->
<div class="modal fade pic" id="pic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <img src="$!{health.healthPath}" alt="票证图片" />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script type="text/javascript">
    $(function() {
        radioCheck('sex', '$!{employee.sex}');
        radioCheck('isneedHealth', '$!{employee.isneedHealth}');

        selectCheck('idType', '$!{employee.idType}');
        selectCheck('nation', '$!{employee.nation}');
        selectCheck('citizenship', '$!{employee.citizenship}');
        selectCheck('politicalLandscape', '$!{employee.politicalLandscape}');
        selectCheck('education', '$!{employee.education}');
        selectCheck('specialty', '$!{employee.specialty}');
        selectCheck('post', '$!{employee.post}');
        selectCheck('jobTitle', '$!{employee.jobTitle}');
        selectCheck('workExperience', '$!{employee.workExperience}');

        $('.icon-date').click(function() {
            $(this).prev('input').click();
        });

        $('.icon-date').each(function() {
            var input = $(this).prev('input');
            input.css('width', input.parent().width());

            $(this).css('cursor', 'pointer');
        });

        // 保存
        $('.btn-baocun').click(function() {
            showMask();

            var url = base + '/employee/edit';
            var data = $('#editForm').serialize();
            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                data: data,
                error : function (XMLHttpRequest, textStatus, errorThrown) {
                    hideMask();
                },
                success : function (data, textStatus) {
                    if(data.flag) {
                        load('$!{CONTEXT_PATH}/employee/detail?employeeId=$!{employee.employeeId}');
                    } else {
                        alert(data.msg);
                    }
                }
            });
        });

        $('.btn-quxiao').click(function() {
            goBack();
        })
    });

    function radioCheck(name, val) {
        $('input[name=' + name + '][value=' + val + ']').attr('checked', 'checked');
    }

    function selectCheck(name, val) {
        $('select[name=' + name + ']').find('[value=' + val + ']').attr('selected', 'selected');
    }

    function goBack() {
        load('$!{CONTEXT_PATH}/employee/detail?employeeId=$!{employee.employeeId}');
    }
</script>