<div class="col-sm-10 col-sm-offset-2">
    #if($skus.size() > 0)
	<table id="stockintable" class="table table-bordered table-striped table-hover">
        <tr>
            <th>&nbsp;</th>
            <th>产品名称</th>
            <th>产品条码</th>
        </tr>
    	#foreach($sku in $skus)
         <tr>
             <th><input type="radio" id="skuIds" name="skuIds" onclick="goSure('${sku.skuName}','${sku.skuId}','${sku.skuBarCode}')"/></th>
             <td>$!{sku.skuName}</td>
        	 <td>$!{sku.skuBarCode}</td>
         </tr>
    	#end
    </table>
	#else
		<font style="color:red">没查询商品信息</font>
		<button type="button" class="btn btn-default fr" onclick="goClose()"><i class="iconfont icon-cuowu"></i>关闭</button>
	#end
</div>
<script>
       function goSure(skuName,skuId,skuBarcode){
          $("#skuId").val(skuId);
		  $("#skuName").val(skuName);
		  $("#oldSkuName").val(skuName);
		  $("#skuBarCode").val(skuBarcode);
		  $('#skudiv>div').slideUp();
	   }
	   
	   function goClose(){
	   	  $('#skudiv>div').slideUp();
	   }
</script>